/* Style for the index.html */

*{
    margin: 0;
}
.indexbody{
    background-color: black;
}

.headerbox img{
    filter: blur(4px);
    filter: brightness(50%);
}

.headerbox{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 400px;
}

.menus{
    position: absolute;
    display: flex;
    font-size: medium;
    gap: 50px;
    left: 20px;
    top: 30px;
    color: white;
}

#words{
    position: absolute;
    top: 160px;
    left: 40%;
    font-size: large;
    color: white;
    
}

#w1{
    position: relative;
}

#w2{
    position: relative;
    left: 20%;
}

#w3{
    position: relative;
    right: 20%;
}

.content{
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 1000px;
    border-radius: 50px;
}


/* Style for the opening.html */

.OpeningBody{
    background-image: url(Images/Herobrine.jpeg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Opening{
    position: absolute;
    color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 450px;
    left: 450px;
}

#Btn {
    top: 10px;
    position: relative;
    text-decoration: none;
    padding: 14px 28px;
    left: 170px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(135deg, #610844ac, #7a2424);
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#Btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(225, 202, 202, 0.8);
}