/* Style for the index.html */

*{
    margin: 0;
}
.indexbody{
    background-color: black;
}


.headerbox img{
    filter: blur(5px);
    filter: brightness(50%);
}

.headerbox{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 400px;
}

.menus{
    position: absolute;
    display: flex;
    font-size: large;
    gap: 50px;
    left: 150px;
    top: 40px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#m{
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

@keyframes colorchange {
    0% { color: white; }
    50% { color: gold; }
    100% { color: white; }
}
#m:hover{
    transform: scale(1.2);
    animation: colorchange 1s infinite;
}

#words{
    position: absolute;
    top: 160px;
    left: 39%;
    font-size: large;
    color: white;
    cursor: default;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#w1{
    position: relative;
    padding-bottom: 20px;
    transition: transform 0.3s;
}

#w1:hover{
    transform: scale(1.1);
}


#w2{
    position: relative;
    left: 9%;
}

#w2:hover{
    color: yellowgreen;
}

#w3{
    position: relative;
    right: 7%;
    transition: transform 0.3s;
}

#w3:hover{
    color: yellowgreen;
}

.content{
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 1000px;
    border-radius: 50px;
    border: 0.5px solid white;
}



/* Style for the opening.html */

.OpeningBody{
    background-image: url(Images/Herobrine.jpeg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Opening{
    position: absolute;
    color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 450px;
    left: 450px;
}

#Btn {
    top: 10px;
    position: relative;
    text-decoration: none;
    padding: 14px 28px;
    left: 170px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(135deg, #610844ac, #7a2424);
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#Btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(225, 202, 202, 0.8);
}