/* Style for the index.html */

.indexbody{
    background-color: black;
}

.headerbox{
    background-image: url(_\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 400px;
}

.menus{
    position: relative;
    margin: 0%;
    top: 20px;
    left: 600px;
}
#words{
    position: relative;
    margin: 0%;
    top: 150px;
    left: 530px;
    font-size: x-large;
    color: white;
}

#w1{
    position: relative;
    margin: 0%;
}

#w2{
    position: relative;
    margin: 0%;
    left: 100px;
}

#w3{
    position: relative;
    margin: 0%;
    right: 100px;
}

.content{
    background-color: rgb(0, 0, 0);
    box-shadow: white;
    height: 1000px;
}

    /* Style for the opening.html */

.OpeningBody{
    background-image: url(Herobrine.jpeg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Opening{
    position: absolute;
    color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 450px;
    left: 450px;
}

#Btn {
    top: 10px;
    position: relative;
    text-decoration: none;
    padding: 14px 28px;
    left: 170px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(135deg, #610844ac, #7a2424);
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#Btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(225, 202, 202, 0.8);
}